@charset "utf-8";





#box5{
	float: left;
	height: 530px;
	clear: none;
	width: 100%;
	min-width: 0px;
	min-height: 0px;
	position: static;
	top: 3085px;
	left: 0%;
	bottom: auto;
	z-index: 2;
	visibility: visible;
	background-color: #666666;
	background-size: 1000px auto;
	background-position: 54% 92%;
	background-repeat: no-repeat;
	background-image: url(Photos/darwin2.jpg);
	overflow-y: hidden
}
}


